// ============================================================
// APP
// ============================================================
html {
	font-size: 18px;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
svg text {
	font-family: 'NeutrafaceText';
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.background-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.content-container {
	position: absolute;
	left: 0;
	top: $header-height;
	width: 100%;
}

// ============================================================
// COMPONENTS
// ============================================================

//
// Override styles from @stamen/panorama and other libs
//
.panorama {
	&.item-selector {
		h3 {
			font-family: 'NeutrafaceText';
		}
		ul {
			height: 4.5em;
		}
	}
}

.leaflet-container {
	width: 100%;
	height: 100%;
}
