// ============================================================
// APP
// ============================================================
html {
	box-sizing: border-box;
}

html,
.leaflet-container {
	font-size: 12px;

	@media (#{$bp-larger-than-mobile}) {
		font-size: 18px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
svg text,
.leaflet-container {
	font-family: 'NeutrafaceText';
}

body.mobile-menu-open {
	overflow: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.background-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	// pointer-events: none;

	-webkit-transition: .5s filter, .5s -webkit-filter;
	-moz-transition: .5s filter, .5s -moz-filter;
	-ms-transition: .5s filter, .5s -ms-filter;
	transition: .5s -webkit-filter, .5s -moz-filter, .5s -ms-filter, .5s filter;

	&.blurred {
		pointer-events: all;
		// NB: This works for everything but IE 8-11
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
}

.content-container {
	position: absolute;
	left: 0;
	top: $header-height + $mode-toggle-btn-height + $body-margin-smaller-than-narrow-desktop;
	width: 100%;
	min-height: calc(100vh - #{$header-height});

	&.map-view-enabled {
		// when the user toggles the map-view, we don't want to cover the background-container
		min-height: auto;
		position: static;
		width: 250px;

		@media (#{$bp-larger-than-mobile}) {
			min-height: calc(100vh - #{$header-height});
			position: absolute;
		}
	}

	@media (#{$bp-larger-than-narrow-desktop}) {
		top: $header-height;
	}
}

.grid-container {
	margin: 1em 0 $footer-height 0;
	@media (#{$bp-larger-than-tablet}) {
		margin-bottom: ($body-margin + $footer-height-larger-than-tablet);
	}
	@media (#{$bp-larger-than-narrow-desktop}) {
		margin: $body-margin $body-margin ($body-margin + $footer-height-larger-than-tablet) $body-margin;
	}

	.row {
		@media (#{$bp-larger-than-mobile}) {
			margin-bottom: $grid-spacing-small;
		}

		> div {
			height: $row-height;
		}
	}
}

// ============================================================
// COMPONENTS
// ============================================================

.leaflet-container, .map-container, #bgw-map {
	width: 100%;
	height: 100%;
  background: #fff;

	&.hidden {
		visibility: hidden;
	}
}

// general map styles
.map-container {
	.marker {
		&.stories,
		&.events {
			stroke: white;
			stroke-width: 1px;
		}

		&.stories {
			// position origin at bottom-center of svg, to the left
			left: -10px - 10px;
			top: -30px;

			// Add background color based on slugified category name
			@include story-fill-color(1.0);
		}

		&.events {
			// position origin at bottom-center of svg, to the right
			left: -10px + 10px;
			top: -27px;

			stroke: white;
			stroke-width: 1px;

			// Add background color based on event type
			@include event-fill-color(1.0);
		}
	}

	.leaflet-popup-content-wrapper {
		background: none;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
	}
	.leaflet-popup-content {
		margin: 0;
		line-height: 1.0;

		// fuck you, cartodb.js!!
		p {
			margin: 0;
		}
	}
	.leaflet-popup-tip-container {
		display: none;
	}

	$popup-padding: 0.5em;
	.popup-item-container {
		width: 2 * ($row-height + $popup-padding);
		max-height: 3 * $row-height;

		padding: $popup-padding;
		overflow-x: hidden;
		overflow-y: auto;

		background-color: $white;
		box-shadow: $page-shadow;
	}
	.popup-item {
		width: 100%;
		margin: 0.5rem 0;

		.story-cell {
			width: 2 * $row-height;
			height: $row-height;
		}
		.event-cell {
			width: $row-height;
			height: $row-height;
		}
	}
}
