// respond-to mixin by Hugo Giraudel
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// to use, define a map like the following (ideally in _variables.scss)
/*
$breakpoints: (
	'small' : 768px,
	'medium' : 1024px,
	'large' : 1400px
);
*/

@mixin respond-to ($breakpoint) {
	// Retrieves the value from the key
	$value: map-get($breakpoints, $breakpoint);

	// If the key exists in the map
	@if $value != null {
		// Prints a media query based on the value
		@media (min-width: $value) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Please make sure it is defined in `$breakpoints` map.";
	}
}