// exported from variables.json
// by gulp-json-sass in gulpfile.babel.js
@import 'variables-derived.scss';

// colors
$background-color-light: #ffffff;
$text-color: #ffffff;
$text-link-color: rgb(8, 46, 70);

// used by 'respond-to' mixin
$breakpoints: (
	'small' : 768px,
	'medium' : 1024px,
	'large' : 1400px
);
