// exported from variables.json
// by gulp-json-sass in gulpfile.babel.js
@import 'variables-derived.scss';

$white: #ffffff;
$blue: #043d58;
$green: #8bc954;

// skeleton overrides
$link-color: $blue;

// colors
$background-color-light: $white;
$text-color: $white;

// used by 'respond-to' mixin
$breakpoints: (
	'small' : 768px,
	'medium' : 1024px,
	'large' : 1400px
);
