
@font-face {
  font-family: 'NeutrafaceText-Book';
  src: url('NeutrafaceText-Book.eot?#iefix') format('embedded-opentype'),  url('NeutrafaceText-Book.otf')  format('opentype'),
	     url('NeutrafaceText-Book.woff') format('woff'), url('NeutrafaceText-Book.ttf')  format('truetype'), url('NeutrafaceText-Book.svg#NeutrafaceText-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
