
@font-face {
  font-family: 'NeutrafaceText-Bold';
  src: url('NeutrafaceText-Bold.eot?#iefix') format('embedded-opentype'),  url('NeutrafaceText-Bold.otf')  format('opentype'),
	     url('NeutrafaceText-Bold.woff') format('woff'), url('NeutrafaceText-Bold.ttf')  format('truetype'), url('NeutrafaceText-Bold.svg#NeutrafaceText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
