
@font-face {
  font-family: 'NeutrafaceText-BookItalic';
  src: url('NeutrafaceText-BookItalic.eot?#iefix') format('embedded-opentype'),  url('NeutrafaceText-BookItalic.otf')  format('opentype'),
	     url('NeutrafaceText-BookItalic.woff') format('woff'), url('NeutrafaceText-BookItalic.ttf')  format('truetype'), url('NeutrafaceText-BookItalic.svg#NeutrafaceText-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
