.collapse {
	min-height: 30px;

	.collapse-header {
		cursor: pointer;
		float: left;
		font-size: 14px;
		font-weight: bold;
		line-height: 30px;
		margin-left: 10px;
		text-transform: uppercase;
	}

	.collapse-toggle {
		float: right;
		width: 0;

		&:after {
			cursor: pointer;
			float: right;
			font-size: 24px;
		}

		&.collapsed {
			margin-bottom: 10px;

			&:after {
				content: "⌄";
			}
		}

		&.expanded {
			margin-top: 10px;

			&:after {
				content: "⌃";
			}
		}
	}
}
