.date-range-input {
	background: $gray;
	border: 0;
	color: $blue;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 5px;
	padding: 5px;
	width: 45%;

	&:first-of-type {
		margin-right: 5px;
	}
}

.date-picker {
	border: 0;
	height: auto;

	.dp-table {
		.dp-cell {
			color: black;
		}

		.dp-cell.dp-week-day-name {
			background: $blue;
			color: $white;
		}

		.dp-cell:not(:first-child) {
			border: none;
		}

		.dp-cell.dp-current {
			background: $green;
			color: $white;
		}

		.dp-row {
			border: none;
		}
		.dp-row:last-child {
			border: none;
		}
	}

	.dp-nav-table {
		.dp-cell {
			color: $blue;
		}
	}
}
