.filter-cell {
	padding: 10px;
}

.filter-header {
	color: $blue;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter-dropdown {
	background: $gray;
	border: 0;
	color: $blue;
	display: block;
	font-size: 16px;
	margin: 10px 0;
	padding: 5px;
	width: 100%;
}

.filter-button {
	background: $blue;
	border: 0;
	border-radius: 10px;
	color: white;
	font-size: 12px;
	left: 50%;
	padding: 5px 20px;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	transform: translate(-50%, 0);
}
