.site-footer {
	background-color: rgba($background-color, 0.9);
	box-shadow: $page-shadow;
	color: $blue;
	font-size: 1.5rem;
	padding-bottom: 3rem;
	padding-top: 3rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $footer-height;
	z-index: $footer-z-index;

	@media (#{$bp-larger-than-mobile}) {
		height: $footer-height-larger-than-mobile;
		padding-bottom: 0;
		padding-top: 0;
		font-size: 0.77rem;
	}

	.menu-social-media {
		display: none;
		width: 100%;
		text-align: center;

		@media (#{$bp-larger-than-tablet}) {
			display: block;
		}

		&-buttons {
			margin: 0 auto;
			margin-top: 1rem;
			width: 180px;
		}

		&-button {
			background-size: 100% 100%;
			background-repeat: no-repeat;
			display: inline-block;
			height: 25px;
			margin-left: 10px;
			margin-right: 10px;
			width: 25px;
		}

		&-facebook {
			background-image: url('./img/buttons/buttons_desktop-facebook.png');
		}
		&-instagram {
			background-image: url('./img/buttons/buttons_desktop-instagram.png');
		}
		&-twitter {
			background-image: url('./img/buttons/buttons_desktop-twitter.png');
		}

		@media #{$bp-high-pixel-density} {
			&-facebook {
				background-image: url('./img/buttons/buttons_desktop-facebook@2x.png');
			}
			&-instagram {
				background-image: url('./img/buttons/buttons_desktop-instagram@2x.png');
			}
			&-twitter {
				background-image: url('./img/buttons/buttons_desktop-twitter@2x.png');
			}
		}
	}
}

.site-footer-container {
	width: 100%;

	@media (#{$bp-larger-than-mobile}) {
		width: $container-width-larger-than-mobile;
		padding: $container-padding-larger-than-mobile;
	}

	@media (#{$bp-larger-than-tablet}) {
		width: $container-width-larger-than-tablet;
		padding: $container-padding-larger-than-tablet;
	}
}

.site-footer-column {
	padding: 15px;
	margin: 0 auto;
	text-align: center;
	width: 240px;

	@media (#{$bp-larger-than-mobile}) {
		float: left;
		margin: auto;
		margin-left: $column-margin;
		padding: 30px;
		text-align: left;
		width: 24.25%;

		&:first-child {
			margin: 0;
		}
	}
}

.site-footer-header {
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.site-footer-sfpa-logo {
	background-image: url('./img/logo-sfpa.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 60px;
	width: 100%;

	@media #{$bp-high-pixel-density} {
		background-image: url('./img/logo-sfpa@2x.png');
	}
}

.site-footer-advocate {
	margin-bottom: 5px;
	text-align: center;
}
