.site-footer {
	background-color: rgba($background-color, 0.9);
	box-shadow: $page-shadow;
	color: $blue;
	font-size: 1.5rem;
	padding: $footer-padding 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(#{$footer-height} + #{2*$footer-padding});
	z-index: $footer-z-index;

	a {
		// @extend %neutra-bold;
		text-decoration: underline;
	}

	@media (#{$bp-larger-than-mobile}) {
		height: $footer-height-larger-than-mobile;
		padding-bottom: 0;
		padding-top: 0;
		font-size: 0.77rem;
	}

	.grid-container {
		margin-top: 0;
		margin-bottom: 0;
	}

	.menu-social-media {
		display: none;
		text-align: center;

		@media (#{$bp-larger-than-mobile}) {
			padding: 2rem 0.5rem;
		}
		@media (#{$bp-larger-than-tablet}) {
			display: block;
		}

		&-button {
			background-size: 100% 100%;
			background-repeat: no-repeat;
			display: inline-block;
			height: 50px;
			margin-left: 10px;
			margin-right: 10px;
			width: 50px;
		}

		&-facebook {
			background-image: url('./img/buttons/buttons_desktop-facebook.png');
		}
		&-instagram {
			background-image: url('./img/buttons/buttons_desktop-instagram.png');
		}
		&-twitter {
			background-image: url('./img/buttons/buttons_desktop-twitter.png');
		}

		@media #{$bp-high-pixel-density} {
			&-facebook {
				background-image: url('./img/buttons/buttons_desktop-facebook@2x.png');
			}
			&-instagram {
				background-image: url('./img/buttons/buttons_desktop-instagram@2x.png');
			}
			&-twitter {
				background-image: url('./img/buttons/buttons_desktop-twitter@2x.png');
			}
		}

		p {
			margin: 1.5rem 0 0 0;
		}
	}
}

.site-footer-column {
	padding: 1 rem;
	margin: 0 auto;
	text-align: center;

	@media (#{$bp-larger-than-mobile}) {
		float: left;
		margin: auto;
		margin-left: $column-margin;
		padding: 2rem;
		text-align: left;

		&:first-child {
			margin: 0;
		}
	}
}

.site-footer-header {
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.site-footer-sfpa-logo {
	background-image: url('./img/logo-sfpa.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 60px;
	width: 100%;

	@media #{$bp-high-pixel-density} {
		background-image: url('./img/logo-sfpa@2x.png');
	}
}

.site-footer-advocate {
	max-width: 10rem;
	margin: 0 auto 1rem auto;
	text-align: center;
}
