.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	z-index: $header-z-index;

	background-color: rgba($background-color, 0.9);

	a {
		width: 100%;
		height: 100%;
	}

	h1 {
		max-width: 50%;
		margin: 0;
	}

	ul {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		height: 100%;

		a {
			display: block;
			padding: 1.5em 2.5em 0 2.5em;

			&:hover,
			&:active,
			&.active {
				background-color: $green;
			}
		}
	}

}