.site-header {
	box-shadow: $page-shadow;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	z-index: $header-z-index;
	transition: top 0.2s ease-in-out;

	background-color: rgba($background-color, 0.9);

	&.nav-up {
		top: -$header-height;
	}

	a {
		width: 100%;
		height: 100%;
	}

	h1 {
		float: left;
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 1.6;
		max-width: 50%;
		margin: 0;
		margin-left: $body-margin;

		a {
			color: $light-blue;
		}

		@media (#{$bp-larger-than-mobile}) {
			float: none;
		}
	}

	.site-header-green {
		color: $green;
	}

	.site-header-toggle-menu {
		display: block;
		float: right;
		margin-right: .5rem;
		padding: .5rem;
		width: 3rem;

		@media (#{$bp-larger-than-mobile}) {
			display: none;
		}

		.site-header-show-menu {
			&-bar {
				background-color: $blue;
				height: 2px;
				margin: .5rem;
				width: 100%;
			}
		}

		.site-header-hide-menu {
			display: none;
			font-size: 3rem;
		}
	}

	&.menu-open {
		.site-header-show-menu {
			display: none;
		}
		.site-header-hide-menu {
			display: block;
		}
	}

	.menu {
		background-color: rgba($background-color, 0.9);
		display: none;
		font-size: 3rem;
		height: 100vh;
		margin-top: $header-height;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		ul {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		@media (#{$bp-larger-than-mobile}) {
			display: block;
			font-size: inherit;
			height: 100%;
			margin-top: inherit;
			width: auto;
		}
	}

	&.menu-open {
		.menu {
			display: block;
		}
	}

	.menu-social-media {
		background-color: $white;
		bottom: $header-height;
		display: block;
		height: 8rem;
		left: 0;
		position: absolute;
		width: 100%;

		@media (#{$bp-larger-than-mobile}) {
			display: none;
		}

		&-buttons {
			margin: 0 auto;
			margin-top: 4rem;
			-webkit-transform: translateY(-20px);
			-moz-transform: translateY(-20px);
			transform: translateY(-20px);
			width: 180px;
		}

		&-button {
			background-size: 100% 100%;
			background-repeat: no-repeat;
			display: inline-block;
			height: 40px;
			margin-left: 10px;
			margin-right: 10px;
			width: 40px;
		}

		&-facebook {
			background-image: url('./img/buttons/mobile-facebook.png');
		}
		&-instagram {
			background-image: url('./img/buttons/mobile-instagram.png');
		}
		&-twitter {
			background-image: url('./img/buttons/mobile-twitter.png');
		}

		@media #{$bp-high-pixel-density} {
			&-facebook {
				background-image: url('./img/buttons/mobile-facebook@2x.png');
			}
			&-instagram {
				background-image: url('./img/buttons/mobile-instagram@2x.png');
			}
			&-twitter {
				background-image: url('./img/buttons/mobile-twitter@2x.png');
			}
		}
	}

	li {
		display: block;
		height: auto;
		text-align: center;
		width: 100%;

		@media (#{$bp-larger-than-mobile}) {
			display: inline-block;
			height: 100%;
			width: auto;
		}

		a {
			display: block;
			padding: 1.5rem 2.5rem 1.5rem 2.5rem;

			@media (#{$bp-larger-than-mobile}) {
				padding: 1.5rem 2.5rem 0 2.5rem;
			}

			&:hover,
			&:active,
			&.active {
				background-color: $green;
				color: $white;
			}
		}
	}

}
