$link-padding: 1.5em;

.site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;

	background-color: rgba($background-color, 0.9);

	a {
		width: 100%;
		height: 100%;
	}

	h1 {
		max-width: 50%;
		margin: 0;
	}

	ul {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		height: 100%;
		padding-top: $link-padding;
		cursor: pointer;

		&:hover,
		&:active,
		.active {
			background-color: $green;
		}

		a {
			width: 100%;
			height: 100%;
			padding: $link-padding 2.5em;
		}
	}

}