.map-page-toggle {
	position: absolute;
	left: 50%;
	top: $header-height + $body-margin;
	transform: translate(-50%, 0);
	z-index: 1;

	@media (#{$bp-larger-than-tablet}) {
		left: auto;
		right: $body-margin;
		transform: none;
	}

	// target mobile specific
	@include respond-to('small') {
		left: 6%;
		transform: none;
	}
}

.map-page-toggle-btn {
	background: $white;
	box-shadow: $page-shadow;
	color: $blue;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	float: left;
	height: $mode-toggle-btn-height;
	line-height: $mode-toggle-btn-height;
	text-align: center;
	text-transform: uppercase;
	width: 160px;

	@media (#{$bp-larger-than-tablet}) {
		float: none;
	}

	&:first-of-type {
		margin-right: 5px;

		@media (#{$bp-larger-than-tablet}) {
			margin-right: 0;
			margin-bottom: 5px;
		}
	}

	&:hover, &.active {
		background: $blue;
		color: $white;
	}
}

.map-page-toggle-btn-fulltext {
	display: none;

	@media (#{$bp-larger-than-tablet}) {
		display: inline;
	}
}
