.map-layers-picker {
	padding: 0;

	@media (#{$bp-larger-than-mobile}) {
		background-color: white;
		padding: 10px;
	}
}

.map-layers-picker-section {
	&:not(:last-of-type) {
		margin-bottom: 20px;
	}
}

.map-layers-picker-header {
	background-color: $blue;
	color: $white;
	font-size: 14px;
	font-weight: bold;
	padding: .5rem 3rem;
	text-transform: uppercase;

	@media (#{$bp-larger-than-mobile}) {
		color: $blue;
		background: none;
		padding: 0;
	}
}

.map-layers-picker-checkbox {
	margin: .5rem 3rem;

	@media (#{$bp-larger-than-mobile}) {
		margin: 0;
	}

	svg {
		// nudge icons down to center-align with text labels
		transform: translateY(0.5rem);
	}

	.stories {
		@include story-fill-color(1.0);
	}
	.events {
		@include event-fill-color(1.0);
	}

	.any {
		fill: $dark-gray;
	}

	.off {
		fill-opacity: 0.25;
	}

	input.hidden {
		display: none;
	}

	label {
		color: $blue;
		font-size: 12px;
		font-weight: bold;
		margin-left: .5rem;
		text-transform: uppercase;

		@media (#{$bp-larger-than-mobile}) {
			color: $dark-gray;
			font-weight: normal;
		}

		&.stories {
			@include story-label-color(1.0);
		}
		&.events {
			@include event-label-color(1.0);
		}
	}

}
