.page-header {
	color: $text-color;
	font-family: 'NeutrafaceText';
	text-shadow: $text-shadow;
	cursor: pointer;

	.header-shade {
		height: 100%;
		width: 100%;
		background-color: $header-shade;
	}

	// specificity WIN!!
	&.row > div.header-cell {
		height: 18rem;
		@media (#{$bp-larger-than-mobile}) {
			height: $row-height;
		}
	}

	.header-cell {
		width: 100%;
		margin-bottom: 0;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		#home & {
			background-image: url('./img/header-home.jpg');
		}
		#stories & {
			background-image: url('./img/header-stories.jpg');
		}
		#events & {
			background-image: url('./img/header-events.jpg');
		}
		#projects & {
			background-image: url('./img/header-projects.jpg');
		}
		#about & {
			background-image: url('./img/header-about.jpg');
		}

		@media #{$bp-high-pixel-density} {
			#home & {
				background-image: url('./img/header-home@2x.jpg');
			}
			#stories & {
				background-image: url('./img/header-stories@2x.jpg');
			}
			#events & {
				background-image: url('./img/header-events@2x.jpg');
			}
			#projects & {
				background-image: url('./img/header-projects@2x.jpg');
			}
			#about & {
				background-image: url('./img/header-about@2x.jpg');
			}
		}

		.columns {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 1em;
			height: 100%;

			@media (#{$bp-larger-than-mobile}) {
				height: auto;
			}
		}

	}

	h1 {
		font-size: 2.5em;
		font-weight: bold;
		margin-bottom: 0;
		white-space: nowrap;

		@media (#{$bp-larger-than-mobile}) {
			font-size: 3.33em;
		}
	}

	p,
	#about & p {
		font-size: 1.89em;
		font-weight: normal;
		margin-bottom: 0;
	}

}
