.page-header {
	color: $text-color;
	font-family: 'NeutrafaceText';
	text-shadow: $text-shadow;

	.header-cell {
		width: 100%;
		background-size: cover;
		margin-bottom: 1.5em;

		#home & {
			background-image: url('./img/header-home.jpg');
		}
		#stories & {
			background-image: url('./img/header-stories.jpg');
		}
		#events & {
			background-image: url('./img/header-events.jpg');
		}
		#projects & {
			background-image: url('./img/header-projects.jpg');
		}
		#about & {
			background-image: url('./img/header-about.jpg');
		}

		> div {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 1em;
		}
	}

	h1 {
		font-size: 3.33em;
		font-weight: bold;
		margin-bottom: 0;
	}

	p {
		font-size: 1.89em;
		margin-bottom: 0;
	}
}