.page-header {
	color: $text-color;
	font-family: 'NeutrafaceText';
	text-shadow: $text-shadow;
	// margin-bottom: 0;

	.header-shade {
		height: 100%;
		width: 100%;
		background-color: $header-shade;
	}

	.header-cell {
		width: 100%;
		height: 245px !important;
		background-size: cover;
		margin-bottom: 0;

		@media (#{$bp-larger-than-mobile}) {
			height: initial;
		}

		#home & {
			background-image: url('./img/header-home.jpg');
			background-size: 100% 100%;
			background-repeat: no-repeat;

			@media (#{$bp-larger-than-mobile}) {
				// background-size: auto;
			}

		}
		#stories & {
			background-image: url('./img/header-stories.jpg');
			background-size: 100% 100%;
			background-repeat: no-repeat;

			@media (#{$bp-larger-than-mobile}) {
				background-size: cover;
			}

		}
		#events & {
			background-image: url('./img/header-events.jpg');
			background-size: 100% 100%;
			background-repeat: no-repeat;

			@media (#{$bp-larger-than-mobile}) {
				background-size: cover;
			}

		}
		#projects & {
			background-image: url('./img/header-projects.jpg');
			background-size: 100% 100%;
			background-repeat: no-repeat;

			@media (#{$bp-larger-than-mobile}) {
				background-size: cover;
			}

		}
		#about & {
			background-image: url('./img/header-about.jpg');
			background-size: 100% 100%;
			background-repeat: no-repeat;

			@media (#{$bp-larger-than-mobile}) {
				background-size: cover;
			}
		}

		@media #{$bp-high-pixel-density} {
			#home & {
				background-image: url('./img/header-home@2x.jpg');
			}
			#stories & {
				background-image: url('./img/header-stories@2x.jpg');
			}
			#events & {
				background-image: url('./img/header-events@2x.jpg');
			}
			#projects & {
				background-image: url('./img/header-projects@2x.jpg');
			}
			#about & {
				background-image: url('./img/header-about@2x.jpg');
			}
		}

		.columns {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 1em;
			height: 100%;

			@media (#{$bp-larger-than-mobile}) {
				height: auto;
			}
		}

	}

	h1 {
		font-size: 2.5em;
		font-weight: bold;
		margin-bottom: 0;

		@media (#{$bp-larger-than-mobile}) {
			font-size: 3.33em;
		}
	}

	p {
		font-size: 1.89em;
		font-weight: normal;
		margin-bottom: 0;
	}

}
