.example-component {

	display: inline-block;
	background-color: rgb(230, 230, 230);
	padding: 10px;
	min-width: 15em;

	h3 {
		line-height: 1.0;
	}

	span {
		padding: 0 0.5em;
		transition: background-color 1s ease;

		&.not-ready {
			background-color: rgba(red, 0.25);
		}

		&.ready {
			background-color: rgba(green, 0.25);
		}
	}

}