$events-padding: 0.5em;

#events {
	position: relative;
	@include colorize-grid(20, 4, 1, null);
	color: $text-color;

	.event-cell {
		position: relative;
		padding: 1em $events-padding $events-padding $events-padding;
	}

	.event-date {
		text-shadow: $text-shadow;
		text-align: center;

		span {
			display: block;
			width: 100%;

			&:nth-child(0n+1) {
				font-size: 3.22em;
				text-transform: uppercase;
			}
			&:nth-child(0n+2) {
				font-size: 6.38em;
				font-weight: bold;
				line-height: 0.6em;
			}
		}
	}

	.event-date-range {
		font-size: 3.22em;
		text-align: center;
		text-shadow: $text-shadow;
		text-transform: uppercase;

		&-day {
			font-weight: bold;
			margin-left: 10px;
		}

		&-separator {
			height: 25px;
			line-height: 15px;
		}

		div {
			width: 100%;
		}
	}

	.event-details {
		position: absolute;
		bottom: $events-padding;
		font-size: 0.83em;
		line-height: 1.11em;

		p {
			margin: 0;
		}
	}

	.events-map-overlay {
		position: absolute;
		left: $body-margin;
		top: $body-margin;
		z-index: 1;
	}

	.events-data-load-error {
		background: #DA9D9D;
		margin-bottom: 25px;
		padding: 15px;
	}
}
