#home {
	$cell-margin: 1em;

	position: relative;
	@include colorize-grid(7, 3, 2, null);

	.page-header {
		margin-bottom: 0;
	}

	.gutter-sizer {
		width: 1%;
	}

	.grid-sizer,
	.grid-item {
		box-shadow: $page-shadow;
		position: relative;
		// height: $row-height;
		margin-left: 0;

		> div {
			width: 100%;
			height: $row-height;
		}

		cursor: pointer;
	}

	.grid-item.grid-item--tall {
		> div {
			height: 2 * $row-height + $grid-spacing-small;
		}
		background: #333;

		// story item overrides (from stories.scss)
		.story-category {
			display: none;
		}
		.story-text {
			position: relative;
			top: 0;
			height: 100%;
			overflow: hiddem;
		}
		.story-title {
			font-size: 2em;
		}

		$font-size: 1.25em;
		$line-height: 1.8em;
		$lines-to-show: 7;
		.story-body {
			position: absolute;
			bottom: $cell-margin;
			width: calc(100% - #{2 * $cell-margin});
			max-height: $row-height - $cell-margin;
			overflow: hidden;

			// multiline ellipsis (webkit-only), per
			// https://codepen.io/martinwolf/pen/qlFdp
			display: block;												// Fallback for non-webkit
			display: -webkit-box;
			max-width: calc(100% - #{2 * $cell-margin});
			height: $font-size * $line-height * $lines-to-show / 1em;	// Fallback for non-webkit; divide by 1em to clear up em*em units
			margin: 0 auto;
			// font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			p:not(:first-child) {
				display: none;
			}

			& * {
				font-size: $font-size !important;
			}
		}
	}
}
