#home {
	$cell-margin: 1em;

	position: relative;
	@include colorize-grid(7, 3, 2, null);

	.gutter-sizer {
		width: 1%;
	}

	.grid-sizer,
	.grid-item {
		position: relative;
		// height: $row-height;
		margin-left: 0;

		> div {
			width: 100%;
			height: $row-height;
		}

		cursor: pointer;
	}

	.grid-item.grid-item--tall {
		> div {
			height: 2 * ($row-height + $grid-spacing-small);
		}
		background: #333;

		// story item overrides (from stories.scss)
		.story-category {
			display: none;
		}
		.story-text {
			position: relative;
			top: 0;
			height: 100%;
		}
		.story-title {
			//
		}
		.story-body {
			position: absolute;
			bottom: $cell-margin;
			width: calc(100% - #{2 * $cell-margin});
			max-height: $row-height - $cell-margin;
			overflow: hidden;

			p:not(:first-child) {
				display: none;
			}
		}
	}
}
