#projects {
	.zone-cell {
		box-shadow: $page-shadow;
		height: 500px;
		position: relative;
		text-align: center;
		background-color: $white;

		.title {
			z-index: 1;
			position: absolute;
			top: 10px;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 0 10px;
			@extend %neutra-bold;
			color: #17445f;
		}

		.learn-more {
			font-size: 2rem;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			height: 60px;
			cursor: pointer;

			@media (#{$bp-larger-than-mobile}) {
				font-size: inherit;
			}
		}

		p {
			margin: 0;
			padding: 0;
			color: $white;
			line-height: 60px;
			background: $green;
		}
	}
}

// "Mini Maps for project zones"
#map-mb, #map-p70, #map-ib, #map-sc {
	width: 100%;
	height: 100%;

	.leaflet-container {
		cursor: default !important;
	}

	.leaflet-control-attribution {
		display: none;
	}
}

.project-popup {
	width: 15rem;
	padding: 1rem 0.5rem;

	background-color: $white;
	color: $blue;
	box-shadow: $page-shadow;

	h3 {
		text-align: center;
	}

	p {
		padding: 0.5rem 0;
	}
}