// 
// Note: all the `!important`s are needed to override inline styles from the CMS.
// 
#story {
	height: auto;
	color: $blue;

	@media (#{$bp-larger-than-mobile}) {
		margin: 1rem $body-margin ($body-margin + $footer-height-larger-than-tablet) $body-margin;
	}

	@media (#{$bp-larger-than-narrow-desktop}) {
		margin: $body-margin $body-margin ($body-margin + $footer-height-larger-than-tablet) $body-margin;
	}

	&.grid-container {
		height: auto;
		max-width: 100%;
		width: auto;
	}

	.row {
		height: auto;
		> div {
			height: auto;
		}
	}

	.story-title {
		font-size: 2.25rem !important;
		margin: 0 0 0.5rem 0 !important;

		@media (#{$bp-larger-than-mobile}) {
			font-size: 1.75rem !important;
		}
	}

	.story-post {
		height: auto;
		margin-left: 0;
		text-align: justify !important;

		* {
			background: none !important;
		}

		p,
		p > span {
			font-size: 1.5rem !important;
			font-family: NeutrafaceText !important;
			color: $blue !important;
			line-height: 2rem !important;

			@media (#{$bp-larger-than-mobile}) {
				font-size: 1rem !important;
				line-height: 1.3rem !important;
			}
		}

		img {
			float: right !important;
			margin: 20px 0 0 0 !important;
			padding: 0 0 20px 20px !important;
		}

		p:first-of-type,
		p:first-of-type > span {
			font-size: 1.75rem !important;
			font-weight: bold !important;
			line-height: 2.25rem !important;

			@media (#{$bp-larger-than-mobile}) {
				font-size: 1.25rem !important;
				line-height: 1.5rem !important;
			}
		}
	}

	.image-container {
		width: 100%;

		img {
			width: 100%;
			height: auto;
			margin: 0 0 20px 0 !important;
			padding: 0 !important;
		}

		@media (#{$bp-larger-than-mobile}) {
			float: right;
			position: relative;
			margin-right: -10rem;	// make & break the grid.
			padding-left: 20px;
			width: 60%;
		}
	}
}
