#story {
	height: auto;
	color: $blue;

	.grid-container {
		height: auto;
	}

	.row {
		height: auto;
		> div {
			height: auto;
		}
	}

	.story-title {
		font-size: 1.75rem;
		margin-bottom: 0.5rem;
	}

	// Note: all the `!important`s are needed to override inline styles from the CMS.
	.story-post {
		height: auto;
		margin-left: 0;

		* {
			background: none !important;
		}

		p, p > span {
			font-size: 1rem !important;
			font-family: NeutrafaceText !important;
			color: $blue !important;
			line-height: 1rem !important;
		}

		img {
			float: right !important;
			padding: 0 0 20px 20px !important;
			margin: 20px 0 0 0 !important;
		}

		p:first-child,
		div:first-child,
		p:first-child > span,
		div:first-child > span {
			font-size: 1.25rem !important;
			font-weight: bold;
			line-height: 1.25rem !important;
		}
	}
}
