#stories {
	.date-picker-cell,
	.filter-cell {
		box-shadow: $page-shadow;
		height: 20rem;

		@media (#{$bp-larger-than-mobile}) {
			height: $row-height;
		}
	}
}

.story-cell {
	background-size: cover;
	background-position: center;
	color: $white;
	cursor: pointer;
	position: relative;
}

.story-shade {
	background-color: $stories-shade;
	position: relative;
	width: 100%;
	height: 100%;

	/*
	// Set background color based on slugified category name
	&.general-stories-history {
		background-color: rgba(#b895c9, 0.15);
	}
	&.points-of-interest {
		background-color: rgba(#49a3be, 0.15);
	}
	&.people-of-the-blue-greenway {
		background-color: rgba(#8bc954, 0.15);
	}
	&.blue-greenway-highlights {
		background-color: rgba(#2e7042, 0.15);
	}
	*/
}

.story-body {
	max-height: 50px;
	overflow: hidden;
	max-width: 100%;
	width: 100%;

	* {
		color: $white !important;
		font-family: 'NeutrafaceText' !important;
		font-size: 18px !important;
	}

	p {
		margin-bottom: 5px !important;
	}
}

.story-category {
	background: $blue;
	display: inline-block;
	font-weight: bold;
	left: 10px;
	padding: 5px 8px;
	position: absolute;
	text-transform: uppercase;
	top: 10px;

	// Add background color based on slugified category name
	&-general-stories-history {
		background: #b895c9;
	}
	&-points-of-interest {
		background: #49a3be;
	}
	&-people-of-the-blue-greenway {
		background: #8bc954;
	}
	&-blue-greenway-highlights {
		background: #2e7042;
	}
}

.story-text {
	bottom: 0;
	left: 0;
	padding: 20px;
	position: absolute;
	width: 100%;
}

.story-title {
	font-size: 1.5em;
	font-weight: bold;
}
