#zone {

	$zone-margin-horiz: 1em;
	$zone-margin-vert: 1em;

	.accordian-wrapper {
		background: #fff;
		box-shadow: $page-shadow;
	}

	.button {
		display: block;
		width: 12em;
		padding: 0.35em;

		border: none;
		cursor: pointer;
		background: $green;
		color: #fff;
		text-align: center;
	}

	.zone-header {
		.button {
			position: absolute;
			bottom: $zone-margin-vert;
		}
	}

	.zone-img {
		background-size: contain;
	}

	.title-container {
		height: 300px;
		padding-left: $zone-margin-horiz;
		padding-top: $zone-margin-vert;

		div {
			height: 100%;
			position: relative;
			background-repeat: no-repeat;
		}

		p {
			line-height: 1.5em;
		}
	}

	.title {
		@extend %neutra-bold;
		font-size: 2em;
		text-transform: capitalize;
		display: inline-block;
	}

	.projects-list, .open-spaces-list {
		height: auto;
	}

	.section-title {
		background: $blue;
		color: #fff;
		font-size: 1.3rem;
		padding: .25em 0 .25em .5em;
		@extend %neutra-bold;
			margin-bottom: 0;
	}

	.loading {
		margin-top: 0.5em;
		margin-left: $zone-margin-horiz;
	}

	.item {
		border-bottom: 2px solid $gray;
		cursor: pointer;
		padding: 0 $zone-margin-horiz;

		// this is causing a jump when the div is removed, how to avoid?
		> div {
			margin-bottom: 0.5em;
		}

		.button {
			margin: $zone-margin-vert 0;
			position: relative;
		}
	}

	.item-name {
		font-size: 1.3rem;
		margin: 0.5em 0;
		display: inline-block;
		width: 100%;

		&:after {
			content: '\02795';
			font-size: 13px;
			color: #777;
			float: right;
			margin-right: 15px;
		}

		&.active:after {
			content: "\2796"; // Unicode character for "minus" sign (-)
		}
	}

	.item-description {
		line-height: 1.5em;
		margin-bottom: 0;

		p,
		span {
			// override inline styles from CMS
			margin: 0 !important;

			// @extend %neutra;
			font-family: 'NeutrafaceText', sans-serif !important;
			font-weight: normal !important;
			font-style: normal !important;
			font-size: 1em !important;

		}
	}

}
